.article-content {
    border: 1px solid lightgrey;
    font-family: lxgw wenkai, helvetica neue, helvetica, arial, heti hei, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol !important;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    max-width: none !important;
    font-size: 20px !important;
    line-height: 1.8 !important;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.32); }

p {
    overflow-wrap: break-word;
    letter-spacing: .5px; }